dss-diagnostic-jaxb/src/main/resources/xsd/DiagnosticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified"
           elementFormDefault="qualified" targetNamespace="http://dss.esig.europa.eu/validation/diagnostic"
           xmlns="http://dss.esig.europa.eu/validation/diagnostic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	
    <!-- Root element -->
    <xs:element name="diagnosticData" type="DiagnosticData"/>
	
    <xs:complexType name="DiagnosticData">
        <xs:sequence>
            <xs:element name="documentName" type="xs:string" minOccurs="0" />
            <xs:element name="validationDate" type="xs:dateTime" />
            <xs:element name="containerInfo" type="ContainerInfo" minOccurs="0" />
            <xs:element name="signatures" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="signature" type="Signature" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="usedCertificates" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="certificate" type="Certificate" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="usedRevocations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="revocation" type="Revocation" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="usedTimestamps" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="timestamp" type="Timestamp" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="orphanTokens" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="orphanCertificate" type="OrphanCertificateToken" minOccurs="0" maxOccurs="unbounded" />
                        <xs:element name="orphanRevocation" type="OrphanRevocationToken" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="originalDocuments" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="signerData" type="SignerData" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="trustedLists" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trustedList" type="TrustedList" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="ContainerInfo">
        <xs:sequence>
            <xs:element name="containerType" type="ContainerType" minOccurs="0" />
            <xs:element name="zipComment" type="xs:string" minOccurs="0" />
            <xs:element name="mimeTypeFilePresent" type="xs:boolean" minOccurs="0" />
            <xs:element name="mimeTypeContent" type="xs:string" minOccurs="0" />
			
            <xs:element name="manifestFiles" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="manifestFile" type="ManifestFile" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="contentFiles" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="contentFile" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="ContainerType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ASiC-S" />
            <xs:enumeration value="ASiC-E" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="ManifestFile">
        <xs:sequence>
            <xs:element name="filename" type="xs:string" minOccurs="0" />
            <xs:element name="signatureFilename" type="xs:string" minOccurs="0" />
            <xs:element name="entries" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entry" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="AbstractToken" abstract="true">
        <xs:attribute name="id" type="xs:ID" use="required" />
    </xs:complexType>

    <xs:complexType name="Signature">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:element name="DAIdentifier" type="xs:string" minOccurs="0" /> <!-- ID produced by a signer application -->
                    <xs:element name="SignatureFilename" type="xs:string" />
                    <xs:element name="ErrorMessage" type="xs:string" minOccurs="0" />
                    <xs:element name="ClaimedSigningTime" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="SignatureFormat" type="SignatureFormat" />
		
                    <xs:element name="StructuralValidation"	type="StructuralValidation" minOccurs="0" />
					
                    <xs:element name="DigestMatchers" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="DigestMatcher" type="DigestMatcher" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="BasicSignature" type="BasicSignature" />
                    <xs:element name="SigningCertificate" type="SigningCertificate" minOccurs="0" />
                    <xs:element name="CertificateChain"	type="CertificateChain" minOccurs="0" />
		
                    <xs:element name="ContentType" type="xs:string" minOccurs="0" />
                    <xs:element name="MimeType" type="xs:string" minOccurs="0" />
                    <xs:element name="ContentIdentifier" type="xs:string" minOccurs="0" />
                    <xs:element name="ContentHints" type="xs:string" minOccurs="0" />
                    <xs:element name="SignatureProductionPlace" type="SignatureProductionPlace" minOccurs="0" />
                    <xs:element name="CommitmentTypeIndications" type="CommitmentTypeIndications" minOccurs="0" />
                    <xs:element name="SignerRole" type="SignerRole" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="Policy" type="Policy" minOccurs="0" />
                    <xs:element name="SignaturePolicyStore" type="SignaturePolicyStore" minOccurs="0" />
                    <xs:element name="SignerInformationStore" type="SignerInformationStore" minOccurs="0" /> <!-- CAdES -->
                    <xs:element name="PDFRevision" type="PDFRevision" minOccurs="0" /> <!-- PAdES -->
					
                    <xs:element name="SignerDocumentRepresentations" minOccurs="0">
                        <xs:complexType>
                            <xs:attribute name="HashOnly" type="xs:boolean" use="required" />
                            <xs:attribute name="DocHashOnly" type="xs:boolean" use="required" />
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="FoundCertificates" type="FoundCertificates" />
                    <xs:element name="FoundRevocations" type="FoundRevocations" />
								
                    <xs:element name="FoundTimestamps">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="FoundTimestamp" type="FoundTimestamp" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="SignatureScopes">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="SignatureScope" type="SignatureScope" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="SignatureDigestReference" type="SignatureDigestReference" />
                    <xs:element name="DataToBeSignedRepresentation" type="DigestAlgoAndValue" minOccurs="0" />
                    <xs:element name="SignatureValue" type="xs:base64Binary" minOccurs="0" />
					
                </xs:sequence>
                <xs:attribute name="CounterSignature" type="xs:boolean" use="optional" />
                <xs:attribute name="Parent" type="xs:IDREF" use="optional" /> <!-- If is a counter-signature -->
                <xs:attribute name="Duplicated" type="xs:boolean" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="SignatureProductionPlace">
        <xs:sequence>
            <xs:element name="PostalAddress" type="xs:string" minOccurs="0" maxOccurs="unbounded" /> <!-- Used in CAdES -->
            <xs:element name="City" type="xs:string" minOccurs="0" />
            <xs:element name="StateOrProvince" type="xs:string" minOccurs="0" />
            <xs:element name="PostOfficeBoxNumber" type="xs:string" minOccurs="0" />
            <xs:element name="PostalCode" type="xs:string" minOccurs="0" />
            <xs:element name="CountryName" type="xs:string" minOccurs="0" />
            <xs:element name="StreetAddress" type="xs:string" minOccurs="0" /> <!-- Used in XAdES and JAdES -->
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="Policy">
        <xs:sequence>
            <xs:element name="Id" type="xs:string" />
            <xs:element name="Url" type="xs:string" minOccurs="0" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
            <xs:element name="Notice" type="xs:string" minOccurs="0" />
            <xs:element name="ZeroHash" type="xs:boolean" minOccurs="0" />
            <xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
            <xs:element name="Asn1Processable" type="xs:boolean" minOccurs="0" />
            <xs:element name="Transformations" type="Transformations" minOccurs="0" />
            <xs:element name="Identified" type="xs:boolean" minOccurs="0" />
            <xs:element name="Status" type="xs:boolean" minOccurs="0" />
            <xs:element name="ProcessingError" type="xs:string" minOccurs="0" />
            <xs:element name="DigestAlgorithmsEqual" type="xs:boolean" minOccurs="0" />
            <xs:element name="DocumentationReferences" type="DocumentationReferences" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="SignaturePolicyStore">
        <xs:sequence>
            <xs:element name="Id" type="xs:string" />
            <xs:element name="Description" type="xs:string" minOccurs="0" />
            <xs:element name="DocumentationReferences" type="DocumentationReferences" minOccurs="0" />
            <xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="PDFRevision">
        <xs:sequence>
            <xs:element name="SignatureFieldName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="PDFSignatureDictionary" type="PDFSignatureDictionary" minOccurs="0" />
            <xs:element name="ModificationDetection" type="ModificationDetection" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="PDFSignatureDictionary">
        <xs:sequence>
            <xs:element name="SignerName" type="xs:string" minOccurs="0" />
            <xs:element name="Type" type="xs:string" minOccurs="0" />
            <xs:element name="Filter" type="xs:string" minOccurs="0" />
            <xs:element name="SubFilter" type="xs:string" minOccurs="0" />
            <xs:element name="ContactInfo" type="xs:string" minOccurs="0" />
            <xs:element name="Location" type="xs:string" minOccurs="0" />
            <xs:element name="Reason" type="xs:string" minOccurs="0" />
            <xs:element name="SignatureByteRange" minOccurs="0" >
                <xs:simpleType>
                    <xs:list itemType="xs:integer"/>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="ModificationDetection">
        <xs:sequence>
            <xs:element name="annotationOverlap" type="Modification" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="visualDifference" type="Modification" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="pageDifference" type="Modification" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="Modification">
        <xs:attribute name="page" type="xs:integer" use="required" />
    </xs:complexType>
	
    <xs:complexType name="Certificate">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:element name="subjectDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
                    <xs:element name="issuerDistinguishedName" type="DistinguishedName" maxOccurs="unbounded" />
                    <xs:element name="serialNumber" type="xs:integer" />
                    <xs:element name="subjectSerialNumber" type="xs:string" minOccurs="0"/>
                    <xs:element name="commonName" type="xs:string" minOccurs="0"/>
                    <xs:element name="locality" type="xs:string" minOccurs="0"/>
                    <xs:element name="state" type="xs:string" minOccurs="0"/>
                    <xs:element name="countryName" type="xs:string" minOccurs="0"/>
                    <xs:element name="organizationIdentifier" type="xs:string" minOccurs="0"/>
                    <xs:element name="organizationName" type="xs:string" minOccurs="0"/>
                    <xs:element name="organizationalUnit" type="xs:string" minOccurs="0"/>
                    <xs:element name="title" type="xs:string" minOccurs="0"/>
                    <xs:element name="givenName" type="xs:string" minOccurs="0"/>
                    <xs:element name="surname" type="xs:string" minOccurs="0"/>
                    <xs:element name="pseudonym" type="xs:string" minOccurs="0"/>
                    <xs:element name="email" type="xs:string" minOccurs="0"/>
					
                    <xs:element name="subjectAlternativeNames" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="subjectAlternativeName" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="authorityInformationAccessUrls" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="AIAUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="CRLDistributionPoints" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="CRLUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="OCSPAccessUrls" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="OCSPServerUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="sources">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="source" type="CertificateSourceType" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="notAfter" type="xs:dateTime" />
                    <xs:element name="notBefore" type="xs:dateTime" />
                    <xs:element name="publicKeySize" type="xs:int" />
                    <xs:element name="publicKeyEncryptionAlgo" type="xs:string" />
                    <xs:element name="entityKey" type="xs:string" />
		
                    <xs:element name="keyUsageBits" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="keyUsage" type="KeyUsage" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="extendedKeyUsages" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="extendedKeyUsagesOid" type="OID" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="PSD2Info" type="PSD2Info" minOccurs="0" />
					
                    <xs:element name="idPkixOcspNoCheck" type="xs:boolean" minOccurs="0" />
		
                    <xs:element name="basicSignature" type="BasicSignature" />
                    <xs:element name="signingCertificate" type="SigningCertificate" minOccurs="0" />
                    <xs:element name="certificateChain" type="CertificateChain" minOccurs="0" />
		
                    <xs:element name="trusted" type="xs:boolean" />
                    <xs:element name="selfSigned" type="xs:boolean" />
					
                    <xs:element name="certificatePolicies" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificatePolicy" type="CertificatePolicy" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="QCStatementIds" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="QCStatementOid" type="OID" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="QCTypes" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="QCTypeOid" type="OID" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                    <xs:element name="QCLimitValue" type="QCLimitValue" minOccurs="0" />
                    <xs:element name="semanticsIdentifier" type="OID" minOccurs="0" />
								
                    <xs:element name="trustedServiceProviders" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="trustedServiceProvider" type="TrustedServiceProvider" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:element name="revocations" minOccurs="0">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="certificateRevocation" type="CertificateRevocation" minOccurs="0" maxOccurs="unbounded" />
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
					
                    <xs:choice>
                        <xs:element name="base64Encoded" type="xs:base64Binary" />
                        <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="OID">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="description" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	
    <xs:complexType name="PSD2Info">
        <xs:sequence>
            <xs:element name="PSD2Roles">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="PSD2Role" type="PSD2Role" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="ncaName" type="xs:string" />
            <xs:element name="ncaId" type="xs:string" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="QCLimitValue">
        <xs:sequence>
            <xs:element name="currency" type="xs:string" />
            <xs:element name="amount" type="xs:int" />
            <xs:element name="exponent" type="xs:int" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="PSD2Role">
        <xs:sequence>
            <xs:element name="pspOid" type="OID" minOccurs="0" />
            <xs:element name="pspName" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="CertificatePolicy">
        <xs:complexContent>
            <xs:extension base="OID">
                <xs:attribute name="cpsUrl" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="DistinguishedName">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="format" type="xs:string" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	
    <xs:complexType name="SignatureScope">
        <xs:sequence>
            <xs:element name="scope" type="ScopeType" />
            <xs:element name="name" type="xs:string" minOccurs="0" />
            <xs:element name="description" type="xs:string" />
            <xs:element name="transformations" type="Transformations" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="signerData" type="xs:IDREF" use="required" />
    </xs:complexType>
	
    <xs:complexType name="Transformations">
        <xs:sequence>
            <xs:element name="transformation" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="SignatureFormat" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XML-NOT-ETSI" />
            <xs:enumeration value="XAdES-C" />
            <xs:enumeration value="XAdES-X" />
            <xs:enumeration value="XAdES-XL" />
            <xs:enumeration value="XAdES-A" />
            <xs:enumeration value="XAdES-BASELINE-LTA" />
            <xs:enumeration value="XAdES-BASELINE-LT" />
            <xs:enumeration value="XAdES-BASELINE-T" />
            <xs:enumeration value="XAdES-BASELINE-B" />
            <xs:enumeration value="CMS-NOT-ETSI" />
            <xs:enumeration value="CAdES-BASELINE-LTA" />
            <xs:enumeration value="CAdES-BASELINE-LT" />
            <xs:enumeration value="CAdES-BASELINE-T" />
            <xs:enumeration value="CAdES-BASELINE-B" />
            <xs:enumeration value="CAdES-101733-C" />
            <xs:enumeration value="CAdES-101733-X" />
            <xs:enumeration value="CAdES-101733-A" />
            <xs:enumeration value="PDF-NOT-ETSI" />
            <xs:enumeration value="PAdES-BASELINE-LTA" />
            <xs:enumeration value="PAdES-BASELINE-LT" />
            <xs:enumeration value="PAdES-BASELINE-T" />
            <xs:enumeration value="PAdES-BASELINE-B" />
            <xs:enumeration value="PKCS7-B" />
            <xs:enumeration value="PKCS7-T" />
            <xs:enumeration value="PKCS7-LT" />
            <xs:enumeration value="PKCS7-LTA" />
            <xs:enumeration value="JSON-NOT-ETSI" />
            <xs:enumeration value="JAdES-BASELINE-B" />
            <xs:enumeration value="JAdES-BASELINE-T" />
            <xs:enumeration value="JAdES-BASELINE-LT" />
            <xs:enumeration value="JAdES-BASELINE-LTA" />
            <xs:enumeration value="UNKNOWN" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="ScopeType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL" />
            <xs:enumeration value="PARTIAL" />
            <xs:enumeration value="DIGEST" />
            <xs:enumeration value="ARCHIVED" />
            <xs:enumeration value="COUNTER_SIGNATURE" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="StructuralValidation">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="valid" type="xs:boolean" />
    </xs:complexType>
	
    <xs:complexType name="BasicSignature">
        <xs:sequence>
            <xs:element name="encryptionAlgoUsedToSignThisToken" type="xs:string" minOccurs="0" />
            <xs:element name="keyLengthUsedToSignThisToken" type="xs:string" minOccurs="0" />
            <xs:element name="digestAlgoUsedToSignThisToken" type="xs:string" minOccurs="0" />
            <xs:element name="maskGenerationFunctionUsedToSignThisToken" type="xs:string" minOccurs="0" />
            <xs:element name="signatureIntact" type="xs:boolean" minOccurs="0" />
            <xs:element name="signatureValid" type="xs:boolean" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="SigningCertificate">
        <xs:sequence>
            <xs:element name="publicKey" type="xs:base64Binary" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="certificate" type="xs:IDREF" use="optional" />
    </xs:complexType>
	
    <xs:complexType name="TimestampedObjects">
        <xs:sequence>
            <xs:element name="timestampedObject" type="TimestampedObject" minOccurs="0" maxOccurs="unbounded" /> <!-- Prints an empty list in case of null -->
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="TimestampedObject">
        <xs:sequence/>
        <xs:attribute name="token" type="xs:IDREF" use="required" />
        <xs:attribute name="category" type="TimestampedObjectType" use="required" />
    </xs:complexType>
	
    <xs:simpleType name="TimestampedObjectType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIGNED_DATA" />
            <xs:enumeration value="SIGNATURE" />
            <xs:enumeration value="CERTIFICATE" />
            <xs:enumeration value="REVOCATION" />
            <xs:enumeration value="TIMESTAMP" />
            <xs:enumeration value="ORPHAN_CERTIFICATE" />
            <xs:enumeration value="ORPHAN_REVOCATION" />
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="CertificateChain">
        <xs:sequence>
            <xs:element name="chainItem" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:attribute name="certificate" type="xs:IDREF" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="SignerInformationStore">
        <xs:sequence>
            <xs:element name="signerInfo" type="SignerInfo" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="SignerInfo">
        <xs:sequence>
            <xs:element name="issuerName" type="xs:string" minOccurs="0" />
            <xs:element name="serialNumber" type="xs:integer" minOccurs="0" />
            <xs:element name="ski" type="xs:base64Binary" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="current" type="xs:boolean" use="optional" /> <!-- The framework handles only one (first) SignerInfo !!! -->
    </xs:complexType>
	
    <xs:complexType name="CommitmentTypeIndications">
        <xs:sequence>
            <xs:element name="commitmentTypeIndication" type="CommitmentTypeIndication" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="CommitmentTypeIndication"> <!-- Represents XAdES v1.3.2 ObjectIdentifierType -->
        <xs:sequence>
            <xs:element name="identifier" type="xs:string" />
            <xs:element name="description" type="xs:string" minOccurs="0" />
            <xs:element name="documentationReferences" type="DocumentationReferences" minOccurs="0" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="DocumentationReferences">
        <xs:sequence>
            <xs:element name="documentationReference" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="SignerRole">
        <xs:sequence>
            <xs:element name="role" type="xs:string" />
            <xs:element name="notAfter" type="xs:dateTime" minOccurs="0" />
            <xs:element name="notBefore" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="category" type="EndorsementType" use="required" />
    </xs:complexType>

    <xs:complexType name="DigestAlgoAndValue">
        <xs:sequence>
            <xs:element name="digestMethod" type="xs:string" minOccurs="0" /> <!-- Optional in case the digest cannot be retrieved -->
            <xs:element name="digestValue" type="xs:base64Binary" minOccurs="0"/>
        </xs:sequence>
        <xs:attribute name="match" type="xs:boolean" use="optional" /> <!-- Used for Signing Certificate ref -->
    </xs:complexType>
	
    <xs:complexType name="DigestMatcher">
        <xs:complexContent>
            <xs:extension base="DigestAlgoAndValue">
                <xs:sequence>
                    <xs:element name="dataFound" type="xs:boolean" />
                    <xs:element name="dataIntact" type="xs:boolean" />
                </xs:sequence>
                <xs:attribute name="type" type="DigestMatcherType" use="required" />
                <xs:attribute name="name" type="xs:string" use="optional"/>
                <xs:attribute name="duplicated" type="xs:boolean" use="optional" default="false" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:simpleType name="EndorsementType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="certified" />
            <xs:enumeration value="claimed" />
            <xs:enumeration value="signed" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="DigestMatcherType" final="restriction">
        <xs:restriction base="xs:string">
            <!-- XAdES -->
            <xs:enumeration value="REFERENCE" />
            <xs:enumeration value="OBJECT" />
            <xs:enumeration value="KEY_INFO" />
            <xs:enumeration value="MANIFEST" />
            <xs:enumeration value="MANIFEST_ENTRY" />
            <xs:enumeration value="SIGNED_PROPERTIES" />
            <xs:enumeration value="SIGNATURE_PROPERTIES" />
            <xs:enumeration value="COUNTER_SIGNATURE" />
            <xs:enumeration value="XPOINTER" />
			
            <!-- CAdES -->
            <xs:enumeration value="MESSAGE_DIGEST" />
            <!-- Digest from decrypted content SignatureValue (CAdES/PAdES) -->
            <xs:enumeration value="CONTENT_DIGEST" />
			
            <!-- JAdES -->
            <xs:enumeration value="JWS_SIGNING_INPUT_DIGEST" />
            <xs:enumeration value="SIG_D_ENTRY" />
			
            <!-- TIMESTAMP -->
            <xs:enumeration value="MESSAGE_IMPRINT" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="SignatureDigestReference">
        <xs:sequence>
            <xs:element name="canonicalizationMethod" type="xs:string" minOccurs="0" /> <!-- Used in XAdES only -->
            <xs:element name="digestMethod" type="xs:string" />
            <xs:element name="digestValue" type="xs:base64Binary" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="FoundCertificates">
        <xs:sequence>
            <xs:element name="relatedCertificate" type="RelatedCertificate" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="orphanCertificate" type="OrphanCertificate" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="FoundCertificate" abstract="true">
        <xs:sequence>
            <xs:element name="origin" type="CertificateOriginType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="certificateRef" type="CertificateRef" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="RelatedCertificate">
        <xs:complexContent>
            <xs:extension base="FoundCertificate">
                <xs:attribute name="certificate" type="xs:IDREF" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="OrphanCertificate">
        <xs:complexContent>
            <xs:extension base="FoundCertificate">
                <xs:attribute name="token" type="xs:IDREF" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="CertificateRef">
        <xs:sequence>
            <xs:element name="origin" type="CertificateRefOriginType" />
            <xs:element name="issuerSerial" type="IssuerSerial" minOccurs="0" />
            <xs:choice>
                <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue"/>
                <xs:element name="serialInfo" type="SignerInfo" /> <!-- OCSP -->
            </xs:choice>
        </xs:sequence>
    </xs:complexType>	
	
    <xs:complexType name="IssuerSerial">
        <xs:simpleContent>
            <xs:extension base="xs:base64Binary">
                <xs:attribute name="match" type="xs:boolean" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	
    <xs:simpleType name="CertificateSourceType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUSTED_STORE" />
            <xs:enumeration value="TRUSTED_LIST" />
            <xs:enumeration value="SIGNATURE" />
            <xs:enumeration value="OCSP_RESPONSE" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="AIA" />
            <xs:enumeration value="TIMESTAMP" />
            <xs:enumeration value="UNKNOWN" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="CertificateOriginType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="KEY_INFO" />
            <xs:enumeration value="SIGNED_DATA" />
            <xs:enumeration value="CERTIFICATE_VALUES" />
            <xs:enumeration value="ATTR_AUTHORITIES_CERT_VALUES" />
            <xs:enumeration value="TIMESTAMP_VALIDATION_DATA" />
            <xs:enumeration value="DSS_DICTIONARY" />
            <xs:enumeration value="VRI_DICTIONARY" />
            <xs:enumeration value="BASIC_OCSP_RESP" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="CertificateRefOriginType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIGNING_CERTIFICATE" />
            <xs:enumeration value="COMPLETE_CERTIFICATE_REFS" />
            <xs:enumeration value="ATTRIBUTE_CERTIFICATE_REFS" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="FoundTimestamp">
        <xs:attribute name="timestamp" type="xs:IDREF" use="required" />
    </xs:complexType>
	
    <xs:complexType name="Timestamp">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:element name="timestampFilename" type="xs:string" minOccurs="0" /> <!-- In case of detached timestamps -->
                    <xs:element name="archiveTimestampType" type="ArchiveTimestampType" minOccurs="0" />
                    <xs:element name="productionTime" type="xs:dateTime" />
                    <xs:element name="digestMatcher" type="DigestMatcher" maxOccurs="unbounded" />
                    <xs:element name="basicSignature" type="BasicSignature" />
                    <xs:element name="signingCertificate" type="SigningCertificate" minOccurs="0" />
                    <xs:element name="certificateChain" type="CertificateChain" minOccurs="0" />
                    <xs:element name="signerInformationStore" type="SignerInformationStore" minOccurs="0" />
                    <xs:element name="PDFRevision" type="PDFRevision" minOccurs="0" /> <!-- PAdES Doc Timestamps -->
					
                    <xs:element name="foundCertificates" type="FoundCertificates" />
                    <xs:element name="foundRevocations" type="FoundRevocations" />
		
                    <xs:element name="timestampedObjects" type="TimestampedObjects" />
		
                    <xs:choice>
                        <xs:element name="base64Encoded" type="xs:base64Binary" />
                        <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" />
                    </xs:choice>
                </xs:sequence>
                <xs:attribute name="type" type="TimestampType" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:simpleType name="TimestampType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONTENT_TIMESTAMP" />
            <xs:enumeration value="ALL_DATA_OBJECTS_TIMESTAMP" />
            <xs:enumeration value="INDIVIDUAL_DATA_OBJECTS_TIMESTAMP" />
            <xs:enumeration value="SIGNATURE_TIMESTAMP" />
            <xs:enumeration value="VALIDATION_DATA_REFSONLY_TIMESTAMP" />
            <xs:enumeration value="VALIDATION_DATA_TIMESTAMP" />
            <xs:enumeration value="ARCHIVE_TIMESTAMP" />
            <xs:enumeration value="DOCUMENT_TIMESTAMP" /> <!-- PDF Timestamp -->
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="ArchiveTimestampType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="XAdES" />
            <xs:enumeration value="XAdES_141" />
            <xs:enumeration value="CAdES" />
            <xs:enumeration value="CAdES_V2" />
            <xs:enumeration value="CAdES_V3" />
            <xs:enumeration value="CAdES_DETACHED" />
            <xs:enumeration value="JAdES" />
            <xs:enumeration value="PAdES" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="CertificateRevocation">
        <xs:sequence>
            <xs:element name="status" type="CertificateStatus" />
            <xs:element name="reason" type="RevocationReason" minOccurs="0" />
            <xs:element name="revocationDate" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="revocation" type="xs:IDREF" use="required" />
    </xs:complexType>
	
    <xs:simpleType name="CertificateStatus" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="GOOD" />
            <xs:enumeration value="REVOKED" />
            <xs:enumeration value="UNKNOWN" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="RevocationReason" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unspecified" />
            <xs:enumeration value="keyCompromise" />
            <xs:enumeration value="cACompromise" />
            <xs:enumeration value="affiliationChanged" />
            <xs:enumeration value="superseded" />
            <xs:enumeration value="cessationOfOperation" />
            <xs:enumeration value="certificateHold" />
            <xs:enumeration value="removeFromCRL" />
            <xs:enumeration value="privilegeWithdrawn" />
            <xs:enumeration value="aACompromise" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="KeyUsage" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="digitalSignature" />
            <xs:enumeration value="nonRepudiation" />
            <xs:enumeration value="keyEncipherment" />
            <xs:enumeration value="dataEncipherment" />
            <xs:enumeration value="keyAgreement" />
            <xs:enumeration value="keyCertSign" />
            <xs:enumeration value="crlSign" />
            <xs:enumeration value="encipherOnly" />
            <xs:enumeration value="decipherOnly" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="Revocation">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:element name="origin" type="RevocationOriginType" />
                    <xs:element name="type" type="RevocationType" />
                    <xs:element name="sourceAddress" type="xs:string" minOccurs="0" />
                    <xs:element name="productionDate" type="xs:dateTime" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
                    <xs:element name="thisUpdate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="nextUpdate" type="xs:dateTime" minOccurs="0" />
                    <xs:element name="expiredCertsOnCRL" type="xs:dateTime" minOccurs="0" /> <!-- CRL -->
                    <xs:element name="archiveCutOff" type="xs:dateTime" minOccurs="0" /> <!-- OCSP -->
                    <xs:element name="certHashExtensionPresent" type="xs:boolean" minOccurs="0" /> <!-- OCSP -->
                    <xs:element name="certHashExtensionMatch" type="xs:boolean" minOccurs="0" /> <!-- OCSP -->
                    <xs:element name="basicSignature" type="BasicSignature" minOccurs="0" /> <!-- Can be null in case of no SUCCESSFUL response of OCSP -->
                    <xs:element name="signingCertificate" type="SigningCertificate" minOccurs="0" />
                    <xs:element name="certificateChain" type="CertificateChain" minOccurs="0" />
					
                    <xs:element name="foundCertificates" type="FoundCertificates" minOccurs="0" />
					
                    <xs:choice>
                        <xs:element name="base64Encoded" type="xs:base64Binary" />
                        <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="FoundRevocations">
        <xs:sequence>
            <xs:element name="relatedRevocation" type="RelatedRevocation" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="orphanRevocation" type="OrphanRevocation" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="FoundRevocation" abstract="true">
        <xs:sequence>
            <xs:element name="type" type="RevocationType" />
            <xs:element name="origin" type="RevocationOriginType" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="revocationRef" type="RevocationRef" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="RelatedRevocation">
        <xs:complexContent>
            <xs:extension base="FoundRevocation">
                <xs:attribute name="revocation" type="xs:IDREF" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="OrphanRevocation">
        <xs:complexContent>
            <xs:extension base="FoundRevocation">
                <xs:attribute name="token" type="xs:IDREF" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="RevocationRef">
        <xs:sequence>
            <xs:element name="origin" type="RevocationRefOriginType" maxOccurs="unbounded" />
            <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" />
            <xs:element name="producedAt" type="xs:dateTime" minOccurs="0" /> <!-- OCSP -->
            <xs:element name="responderId" type="SignerInfo" minOccurs="0" /> <!-- OCSP -->
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="RevocationType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRL" />
            <xs:enumeration value="OCSP" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="RevocationOriginType" final="restriction">
        <xs:restriction base="xs:string">            
            <xs:enumeration value="CMS_SIGNED_DATA" />
            <xs:enumeration value="REVOCATION_VALUES" />
            <xs:enumeration value="ATTRIBUTE_REVOCATION_VALUES" />
            <xs:enumeration value="TIMESTAMP_VALIDATION_DATA" />
            <xs:enumeration value="DSS_DICTIONARY" />
            <xs:enumeration value="VRI_DICTIONARY" />
            <xs:enumeration value="ADBE_REVOCATION_INFO_ARCHIVAL" />
            <xs:enumeration value="INPUT_DOCUMENT" />
            <xs:enumeration value="EXTERNAL" />
            <xs:enumeration value="CACHED" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="RevocationRefOriginType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMPLETE_REVOCATION_REFS" />
            <xs:enumeration value="ATTRIBUTE_REVOCATION_REFS" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="OrphanToken" abstract="true">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:choice minOccurs="0"> <!-- not applicable for cert refs obtained from ocsp tokens -->
                        <xs:element name="base64Encoded" type="xs:base64Binary" />
                        <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" />
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="OrphanCertificateToken">
        <xs:complexContent>
            <xs:extension base="OrphanToken">
                <xs:sequence>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="OrphanRevocationToken">
        <xs:complexContent>
            <xs:extension base="OrphanToken">
                <xs:sequence>
                    <xs:element name="type" type="RevocationType" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="SignerData">
        <xs:complexContent>
            <xs:extension base="AbstractToken">
                <xs:sequence>
                    <xs:element name="referencedName" type="xs:string" minOccurs="0" />
                    <xs:element name="digestAlgoAndValue" type="DigestAlgoAndValue" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="TrustedList">
        <xs:sequence>
            <xs:element name="countryCode" type="xs:string" minOccurs="0" />
            <xs:element name="url" type="xs:string" />	
            <xs:element name="sequenceNumber" type="xs:int" minOccurs="0" />
            <xs:element name="version" type="xs:int" minOccurs="0" />
            <xs:element name="lastLoading" type="xs:dateTime" minOccurs="0" />
            <xs:element name="issueDate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="nextUpdate" type="xs:dateTime" minOccurs="0" />
            <xs:element name="wellSigned" type="xs:boolean" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID" use="required" />
        <xs:attribute name="LOTL" type="xs:boolean" default="false" use="optional" />
    </xs:complexType>
	
    <xs:complexType name="TrustedServiceProvider">
        <xs:sequence>
            <xs:element name="TSPNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TSPName" type="LangAndValue" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TSPTradeNames" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TSPTradeName" type="LangAndValue" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="TSPRegistrationIdentifiers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="TSPRegistrationIdentifier" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="trustedServices">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="trustedService" type="TrustedService" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="TL" type="xs:IDREF" use="required" />
        <xs:attribute name="LOTL" type="xs:IDREF" use="optional" />
    </xs:complexType>
	
    <xs:complexType name="TrustedService">
        <xs:sequence>
            <xs:element name="serviceNames">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceName" type="LangAndValue" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="serviceType" type="xs:string" />
            <xs:element name="status" type="xs:string" />
            <xs:element name="startDate" type="xs:dateTime" />
            <xs:element name="endDate" type="xs:dateTime" minOccurs="0" />
			
            <xs:element name="capturedQualifiers" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="qualifier" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="additionalServiceInfoUris" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="additionalServiceInfoUri" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="serviceSupplyPoints" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceSupplyPoint" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
			
            <xs:element name="expiredCertsRevocationInfo" type="xs:dateTime" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="serviceDigitalIdentifier" type="xs:IDREF" use="required" />
    </xs:complexType>
	
    <xs:complexType name="DigestAlgoAndValues">
        <xs:sequence>
            <xs:element name="DigestAlgoAndValue" type="DigestAlgoAndValue" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>
    
    <xs:complexType name="LangAndValue">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="lang" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	
</xs:schema>