dss-detailed-report-jaxb/src/main/resources/xsd/DetailedReport.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dss.esig.europa.eu/validation/detailed-report" 
           xmlns="http://dss.esig.europa.eu/validation/detailed-report" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element -->
    <xs:element name="detailedReport" type="DetailedReport" />

    <xs:complexType name="DetailedReport">
        <xs:sequence>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:choice>
                    <xs:element name="signature" type="Signature" />
                    <xs:element name="timestamp" type="Timestamp" />
                    <xs:element name="certificate" type="Certificate" />
                </xs:choice>
            </xs:sequence>
            <xs:element name="basicBuildingBlocks" type="BasicBuildingBlocks" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="TLAnalysis" type="TLAnalysis" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="semantic" type="Semantic" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
        <xs:attribute name="validationTime" type="xs:dateTime" />
    </xs:complexType>
	
    <xs:complexType name="Signature">
        <xs:sequence>
            <xs:element name="validationProcessBasicSignature" type="ValidationProcessBasicSignature" minOccurs="0" />
            <xs:element name="timestamp" type="Timestamp" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="validationProcessLongTermData" type="ValidationProcessLongTermData" minOccurs="0" />
            <xs:element name="validationProcessArchivalData" type="ValidationProcessArchivalData" minOccurs="0" />
			
            <!-- eIDAS stuffs -->
            <xs:element name="validationSignatureQualification" type="ValidationSignatureQualification" minOccurs="0" />
			
            <xs:element name="conclusion" type="Conclusion" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" /> 
        <xs:attribute name="counterSignature" type="xs:boolean" use="optional" />
    </xs:complexType>
	
    <xs:complexType name="Timestamp">
        <xs:sequence>
            <xs:element name="validationProcessTimestamp" type="ValidationProcessTimestamp"  />
			
            <!-- eIDAS stuffs -->
            <xs:element name="validationTimestampQualification" type="ValidationTimestampQualification" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" /> 
    </xs:complexType>
	
    <xs:complexType name="Certificate">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="validationCertificateQualification" type="ValidationCertificateQualification" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="BasicBuildingBlocks">
        <xs:sequence>
            <xs:element name="FC" type="FC" minOccurs="0" /> <!-- 5.2.2 Format Checking -->
            <xs:element name="ISC" type="ISC" minOccurs="0" /> <!-- 5.2.3 Identification of the signing certificate -->
            <xs:element name="VCI" type="VCI" minOccurs="0" /> <!-- 5.2.4 Validation context initialization -->
            <xs:element name="XCV" type="XCV" minOccurs="0" /> <!-- 5.2.6 X.509 certificate validation -->
            <xs:element name="CV"  type="CV"  minOccurs="0" /> <!-- 5.2.7 Cryptographic verification -->
            <xs:element name="SAV" type="SAV" minOccurs="0" /> <!-- 5.2.8 Signature acceptance validation (SAV) -->
            <xs:element name="PSV" type="PSV" minOccurs="0" />
            <xs:element name="PCV" type="PCV" minOccurs="0" />
            <xs:element name="VTS" type="VTS" minOccurs="0" />
            <xs:element name="certificateChain" type="CertificateChain" minOccurs="0" />
            <xs:element name="conclusion" type="Conclusion" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="required" />
        <xs:attribute name="type" type="Context" use="required" />
    </xs:complexType>
	
    <xs:complexType name="TLAnalysis">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:attribute name="countryCode" type="xs:string" use="optional" /> <!-- can be null in case of parsing task failure -->
                <xs:attribute name="URL" type="xs:string" use="required" />
                <xs:attribute name="id" type="xs:string" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="ValidationSignatureQualification">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="validationCertificateQualification" type="ValidationCertificateQualification" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
                <xs:attribute name="signatureQualification" type="SignatureQualification" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="ValidationCertificateQualification">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:attribute name="id" type="xs:string" use="required" />
                <xs:attribute name="dateTime" type="xs:dateTime" />
                <xs:attribute name="validationTime" type="ValidationTime" />
                <xs:attribute name="certificateQualification" type="CertificateQualification" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ConstraintsConclusion">
        <xs:sequence>
            <xs:element name="constraint" type="Constraint" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="conclusion" type="Conclusion" />
        </xs:sequence>
        <xs:attribute name="title" type="xs:string" use="required" />
    </xs:complexType>
	
    <xs:complexType name="ConstraintsConclusionWithControlTime">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="controlTime" type="xs:dateTime" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="ConstraintsConclusionWithProofOfExistence">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="proofOfExistence" type="ProofOfExistence" minOccurs="0" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="ProofOfExistence">
        <xs:sequence>
            <xs:element name="time" type="xs:dateTime" />
            <xs:element name="timestampId" type="xs:string" minOccurs="0" /> <!-- No present means current/validation time -->
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="ValidationProcessBasicSignature">	
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithProofOfExistence" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValidationProcessTimestamp">	
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:attribute name="type" type="xs:string" use="required" />
                <xs:attribute name="productionTime" type="xs:dateTime" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
	
    <xs:complexType name="ValidationTimestampQualification">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:attribute name="timestampQualification" type="TimestampQualification" use="required" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValidationProcessLongTermData">	
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithProofOfExistence" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="ValidationProcessArchivalData">	
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithProofOfExistence" />
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="FC">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ISC">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion" >
                <xs:sequence>
                    <xs:element name="certificateChain" type="CertificateChain" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VCI">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RFC">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:attribute name="id" type="xs:string" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="RAC"> <!-- RevocationAcceptanceCheck -->
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="revocationProductionDate" type="xs:dateTime" />
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CC"> <!-- Cryptographic Checker -->
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="CV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SAV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="cryptographicInfo" type="CryptographicInformation" />
                </xs:sequence>
                <xs:attribute name="validationTime" type="xs:dateTime" use="optional" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="XCV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="subXCV" type="SubXCV" minOccurs="0" maxOccurs="unbounded" />
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="SubXCV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusion">
                <xs:sequence>
                    <xs:element name="crossCertificate" minOccurs="0" >
                        <xs:simpleType>
                            <xs:list itemType="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="equivalentCertificate" minOccurs="0" >
                        <xs:simpleType>
                            <xs:list itemType="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element name="RAC" type="RAC" minOccurs="0" maxOccurs="unbounded" />
                    <xs:element name="RFC" type="RFC" minOccurs="0" />
                    <xs:element name="revocationInfo" type="RevocationInformation" minOccurs="0" />
                </xs:sequence>
                <xs:attribute name="id" type="xs:string" use="required" />
                <xs:attribute name="trustAnchor" type="xs:boolean" />
                <xs:attribute name="selfSigned" type="xs:boolean" />
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="VTS">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithControlTime" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PCV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithControlTime" />
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="PSV">
        <xs:complexContent>
            <xs:extension base="ConstraintsConclusionWithControlTime" />
        </xs:complexContent>
    </xs:complexType>
    <!-- 	Not supported -->
    <!-- 	<xs:complexType name="ERV"> -->
    <!-- 		<xs:complexContent> -->
    <!-- 			<xs:extension base="ConstraintsConclusion" /> -->
    <!-- 		</xs:complexContent> -->
    <!-- 	</xs:complexType> -->
	
    <xs:complexType name="Constraint">
        <xs:sequence>
            <xs:element name="name" type="Name" />
            <xs:element name="status" type="Status" />
            <xs:element name="error" type="Name" minOccurs="0" />
            <xs:element name="warning" type="Name" minOccurs="0" />
            <xs:element name="info" type="Name" minOccurs="0" />
            <xs:element name="additionalInfo" type="xs:string" minOccurs="0" />
        </xs:sequence>
        <xs:attribute name="id" type="xs:string" use="optional" /> <!-- In case of constraint with a BBB -->
    </xs:complexType>

    <xs:complexType name="Conclusion">
        <xs:sequence>
            <xs:element name="indication" type="Indication" />
            <xs:element name="subIndication" type="SubIndication" minOccurs="0" />
            <xs:element name="errors" type="Name" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="warnings" type="Name" minOccurs="0" maxOccurs="unbounded" />
            <xs:element name="infos" type="Name" minOccurs="0" maxOccurs="unbounded" />
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="Name">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="nameId" type="xs:string" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="Status" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK" />
            <xs:enumeration value="NOT OK" />
            <xs:enumeration value="IGNORED" />
            <xs:enumeration value="INFORMATION" />
            <xs:enumeration value="WARNING" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="Indication" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TOTAL_PASSED" />
            <xs:enumeration value="PASSED" />
            <xs:enumeration value="INDETERMINATE" />
            <xs:enumeration value="FAILED" />
            <xs:enumeration value="TOTAL_FAILED" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="SubIndication" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="NO_SIGNING_CERTIFICATE_FOUND" />
            <xs:enumeration value="FORMAT_FAILURE" />
            <xs:enumeration value="SIGNATURE_POLICY_NOT_AVAILABLE" />
            <xs:enumeration value="POLICY_PROCESSING_ERROR" />
            <xs:enumeration value="OUT_OF_BOUNDS_NO_POE" />
            <xs:enumeration value="OUT_OF_BOUNDS_NOT_REVOKED" />
            <xs:enumeration value="NO_CERTIFICATE_CHAIN_FOUND" />
            <xs:enumeration value="TRY_LATER" />
            <xs:enumeration value="REVOKED_NO_POE" />
            <xs:enumeration value="REVOKED_CA_NO_POE" />
            <xs:enumeration value="CHAIN_CONSTRAINTS_FAILURE" />
            <xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE" />
            <xs:enumeration value="CRYPTO_CONSTRAINTS_FAILURE_NO_POE" />
            <xs:enumeration value="SIGNED_DATA_NOT_FOUND" />
            <xs:enumeration value="HASH_FAILURE" />
            <xs:enumeration value="SIG_CRYPTO_FAILURE" />
            <xs:enumeration value="SIG_CONSTRAINTS_FAILURE" />
            <xs:enumeration value="NOT_YET_VALID" />
            <xs:enumeration value="TIMESTAMP_ORDER_FAILURE" />
            <xs:enumeration value="REVOKED" />
            <xs:enumeration value="EXPIRED" />
            <xs:enumeration value="NO_POE" />
            <xs:enumeration value="CERTIFICATE_CHAIN_GENERAL_FAILURE" />
            <xs:enumeration value="UNEXPECTED_ERROR" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="CertificateQualification" final="restriction">
        <xs:restriction base="xs:string">
		
            <xs:enumeration value="QC for eSig with QSCD" />
            <xs:enumeration value="QC for eSeal with QSCD" />
            <!-- non sense <xs:enumeration value="QC Cert for WSA with QSCD" /> -->
			
            <xs:enumeration value="QC for eSig" />
            <xs:enumeration value="QC for eSeal" />
            <xs:enumeration value="QC for WSA" />
			
            <xs:enumeration value="Cert for eSig" />
            <xs:enumeration value="Cert for eSeal" />
            <xs:enumeration value="Cert for WSA" />
			
            <xs:enumeration value="N/A" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="SignatureQualification" final="restriction">
        <xs:restriction base="xs:string">
		
            <xs:enumeration value="QESig" />
            <xs:enumeration value="QESeal" />
            <xs:enumeration value="QES?" />
            <xs:enumeration value="AdESig-QC" />
            <xs:enumeration value="AdESeal-QC" />
            <xs:enumeration value="AdES?-QC" />
            <xs:enumeration value="AdESig" />
            <xs:enumeration value="AdESeal" />
            <xs:enumeration value="AdES?" />
			
            <xs:enumeration value="Indeterminate QESig" />
            <xs:enumeration value="Indeterminate QESeal" />
            <xs:enumeration value="Indeterminate QES?" />
            <xs:enumeration value="Indeterminate AdESig-QC" />
            <xs:enumeration value="Indeterminate AdESeal-QC" />
            <xs:enumeration value="Indeterminate AdES?-QC" />
            <xs:enumeration value="Indeterminate AdESig" />
            <xs:enumeration value="Indeterminate AdESeal" />
            <xs:enumeration value="Indeterminate AdES?" />
		
            <xs:enumeration value="Not AdES but QC with QSCD" />
            <xs:enumeration value="Not AdES but QC" />
            <xs:enumeration value="Not AdES" />
			
            <xs:enumeration value="N/A" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="TimestampQualification" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="QTSA" />
            <xs:enumeration value="TSA" />
            <xs:enumeration value="N/A" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="Context" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="SIGNATURE" />
            <xs:enumeration value="COUNTER_SIGNATURE" />
            <xs:enumeration value="TIMESTAMP" />
            <xs:enumeration value="REVOCATION" />
            <!-- For Qualification -->
            <xs:enumeration value="CERTIFICATE" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:simpleType name="ValidationTime" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CERTIFICATE_ISSUANCE_TIME" />
            <xs:enumeration value="BEST_SIGNATURE_TIME" />
            <xs:enumeration value="VALIDATION_TIME" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="CertificateChain">
        <xs:sequence>
            <xs:element name="chainItem" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="source" type="CertificateSourceType" />
                    </xs:sequence>
                    <xs:attribute name="id" type="xs:string" use="required" />
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="CertificateSourceType" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="TRUSTED_STORE" />
            <xs:enumeration value="TRUSTED_LIST" />
            <xs:enumeration value="SIGNATURE" />
            <xs:enumeration value="OCSP_RESPONSE" />
            <xs:enumeration value="OTHER" />
            <xs:enumeration value="AIA" />
            <xs:enumeration value="TIMESTAMP" />
            <xs:enumeration value="UNKNOWN" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="RevocationInformation">
        <xs:sequence>
            <xs:element name="certificateId" type="xs:string" />
            <xs:element name="revocationId" type="xs:string" />
            <xs:element name="reason" type="RevocationReason" minOccurs="0" />
            <xs:element name="revocationDate" type="xs:dateTime" />		
        </xs:sequence>
    </xs:complexType>
	
    <xs:complexType name="CryptographicInformation">
        <xs:sequence>
            <xs:element name="algorithm" type="xs:string" />
            <xs:element name="keyLength" type="xs:string" minOccurs="0" />
            <xs:element name="secure" type="xs:boolean" />
            <xs:element name="notAfter" type="xs:dateTime" minOccurs="0" />
            <xs:element name="concernedMaterial" type="xs:string" />
        </xs:sequence>
    </xs:complexType>
	
    <xs:simpleType name="RevocationReason" final="restriction">
        <xs:restriction base="xs:string">
            <xs:enumeration value="unspecified" />
            <xs:enumeration value="keyCompromise" />
            <xs:enumeration value="cACompromise" />
            <xs:enumeration value="affiliationChanged" />
            <xs:enumeration value="superseded" />
            <xs:enumeration value="cessationOfOperation" />
            <xs:enumeration value="certificateHold" />
            <xs:enumeration value="removeFromCRL" />
            <xs:enumeration value="privilegeWithdrawn" />
            <xs:enumeration value="aACompromise" />
        </xs:restriction>
    </xs:simpleType>
	
    <xs:complexType name="Semantic">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="key" type="xs:string" use="required" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
	
</xs:schema>